*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
   
}
.back{
    background-image: url(./1.png);
    background-size: cover;
    padding: 50px 0;
}
.back h3{
    color: white;
    font-size: 100px;
    display: flex;
    width: 100px;
    margin-left: 200px;
    margin-top: 80px;

}

.back p{
    color: white;
    width: 400px;
    margin-left: 200px;
}
.btn{
    background-color:   #F57520;
    margin-left: 200px;
    width: 100px;
    height: 50px;
}
h2{
    color: black;
    background-color: gray;
    font-size: 50px;
    text-align: center;
}
.card img{
    width: 400px;
    height: 195px;

}
.card p{
    width: 220px;
    height: 60px;
    color: #000;
    background-color: #F57520;
}
.card{
    background-color: #F57520;  
    width: 400px;
    height: 355px;
    
}
.card p{
    padding: 15px;
    width: 90%;
}
.ota{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0;
    background-color: grey;
    ;
}
.ota h3{
    font-size: 50px;
    text-align: center;
    margin: 20px auto;

}


h1{
    width: 620px;
    font-size: 50px;
    margin-top: 100px;
    background-color: #F57520;
}
.form{
    padding: 60px 0;
    background-color: #F57520;
    background-image: url(./image\ 86.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 600px;
}
.box{
    width: 610px;
}
input{
    width: 302px;
    height: 46px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
    outline: none;
    margin-top: 10px;
}
textarea{
    width: 610px;
    height: 80px;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
}
.box button{
    width: 610px;
    height: 46px;
    background-color: white;
    color: black;
    border-radius: 15px;
    border: none;
    font-size: 18px;
}
.form h2{
    color: white;
    font-size: 48px;
    margin-bottom: 60px;
}
.a{
    width: 1920px;
    height: 500px;
}